.profile{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    width:300px;
    height: 500px;
    & .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 100px;
     
    }
    .highlighted-text{
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }
    .bleak-text{
        font-size: 15px;
        color: slategray;
    }
}