.stat{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    gap:10px;
    &:first-child{
        margin-left: auto;
    }
    &:last-child{
        margin-right: auto;
    }
    & .stat-name{
        font-size: 10px;
        color:gray;
    }
    & .stat-value{
        font-size: 15px;
        color:black;
    }
}