:root{
    --active:#ffcc00;
    --active-bleak:#cc9900;

    --gray:#333;
    --text:#ccc;
}
body{
    background-color: var(--gray);
}
.link{
    padding: 3px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    margin: 1px;
    margin-right: 15px;
    margin-left: 15px;
    transition: all 0.5s ease;
}
.link:hover{
    margin: 0px;
    margin-right: 9px;
    padding: 4px;
    background-color: var(--active);
    color: black;
    text-decoration: underline;
}
.active{
    color: var(--active);
    border: 1px solid var(--active);

}
.header-nav{
    margin: auto;
    padding: 20px;
    margin: 3px;
    outline: var(--active-bleak) 1px solid;
    text-align: center;
}